:root {
  --primary-color: #262f6c;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url(../font/Noto_Sans_KR/NotoSansKR-Thin.otf);
  font-weight: 100;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url(../font/Noto_Sans_KR/NotoSansKR-Light.otf);
  font-weight: 300;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url(../font/Noto_Sans_KR/NotoSansKR-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url(../font/Noto_Sans_KR/NotoSansKR-Medium.otf);
  font-weight: 500;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url(../font/Noto_Sans_KR/NotoSansKR-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url(../font/Noto_Sans_KR/NotoSansKR-Black.otf);
  font-weight: 900;
}

/* common group */
html {
  font-size: 62.5%;
  font-family: "Noto Sans KR", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  background-color: #fafafa;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #333;
}

/* @@@ layout group @@@ */
.ly_main {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 80px;
}
.ly_flex {
  display: flex;
}
.ly_jusitfyBetween {
  display: flex;
  justify-content: space-between;
}

/* @@@ element group @@@ */
.el_ttl {
  font-size: 2.4rem;
  font-weight: bold;
  background-color: #b2e5fc;
  width: fit-content;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 30px;
}
.el_vLine {
  height: 80px;
  width: 1px;
  background-color: #fff;
}
.el_hLine {
  width: 60px;
  height: 5px;
  background-color: #333;
}
.el_tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  min-width: 55px;
  height: 20px;
  padding: 0 10px;
  border-radius: 1rem;
  color: #fff;
  gap: 3px;
}
.el_tag > img {
  width: 20px;
  cursor: pointer;
}
.el_toggle {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.6rem;
}
.el_slideBar {
  margin: 0 auto;
  margin-top: 30px;
  width: 200px;
  height: 10px;
  border-radius: 10px;
  box-shadow: inset 0 3px 6px 1px #0003;
  position: relative;
}
.el_slideBar_progress {
  width: 50px;
  height: 10px;
  border-radius: 10px;
  background: linear-gradient(to right, var(--primary-color), #645abb);
  position: relative;
  transition: width 0.5s, left 0.5s;
}
.el_btn {
  width: 100%;
  max-width: 250px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  border-radius: 30px;
}
.el_leftArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: absolute;
  z-index: 1;
  top: 185px;
  left: 10px;
  cursor: pointer;
}
.el_rightArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: absolute;
  z-index: 1;
  top: 185px;
  right: 10px;
  cursor: pointer;
}
.el_select {
  border: none;
  background: none;
  border: 2px solid var(--primary-color);
  padding: 5px;
  border-radius: 5px;
}
.el_select > option {
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  padding: 5px;
}
.el_select > option:hover {
  background-color: #3a3377;
}

/* @@@ block group @@@ */
/* bl_header */
.bl_header {
  position: fixed;
  /* color: #fff; */
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 30px;
  font-size: 1.6rem;
  transition: 1s;
  color: #fff;
  z-index: 2;
}
.bl_header a {
  color: #fff;
  transition: 1s;
}
.bl_header.js_active {
  background-color: #eeee;
  box-shadow: 0 0 6px #333;
}
.bl_header.js_active a {
  color: #333;
}
.bl_nav > ul {
  display: flex;
  gap: 30px;
}

/* bl_banner */
.bl_banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/bl_banner_background.jpg);
  background-position: center;
  background-size: cover;
  /* filter: blur(2px); */
  width: 100%;
  height: 770px;
  z-index: -1;
}
.bl_banner {
  padding-top: 176px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.bl_banner_ttl {
  font-size: 4.8rem;
  line-height: 6.5rem;
  text-align: center;
}
.bl_banner_desc {
  font-size: 1.6rem;
  line-height: 4rem;
  text-align: center;
}

/* bl_projects */
.bl_proejects {
}
.bl_projects_filters {
  display: flex;
  gap: 10px;
  font-size: 16px;
  align-items: center;
}
.bl_projects_slide {
  position: relative;
  /* max-width: 900px; */
  margin: 0 auto;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* .bl_proejects_slide_items_outer {
  position: relative;
} */
.bl_projects_slide_items {
  display: flex;
  overflow-x: hidden;
  position: relative;
  cursor: pointer;
}
.bl_projects_slide_item {
  width: 300px;
  height: 400px;
  background-color: #6f62e5;
  display: none;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  position: relative;
  left: 0;
  transition: width 0.5s, left 0.5s;
}
.bl_projects_slide_item.show {
  display: flex;
  flex: 1 0 auto;
}

/* bl_stacks */
.bl_stacks_slide {
  position: relative;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.bl_stacks_slide_items {
  display: flex;
  box-shadow: 0 0 6px #3333;
  overflow-x: hidden;
  cursor: pointer;
}
.bl_stacks_slide_item {
  width: 400px;
  height: 550px;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: #333;
  flex: 0 0 auto;
  position: relative;
  left: 0;
  transition: width 0.5s, left 0.5s;
}
.bl_stacks_slide_item.show {
  display: flex;
}
.bl_stacks_slide_item:nth-child(2n) {
  background-color: #fff;
}
.bl_stacks_slide_item_tag {
  font-size: 1.4rem;
  text-align: center;
}
.bl_stacks_slide_item_ttl {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
}
.bl_stacks_slide_item_imgWrap {
  width: 178px;
  max-height: 230px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bl_stacks_slide_item_img {
  max-width: 178px;
  max-height: 230px;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.bl_stacks_slide_item_desc {
  width: 100%;
  max-height: 140px;
  height: 100%;
  border-radius: 10px;
  background-color: #f5f4f4;
  overflow-y: scroll;
  padding: 15px;
  margin-top: 25px;
}
.bl_stacks_slide_item_desc::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
}
.bl_stacks_slide_item_desc::-webkit-scrollbar {
  display: block;
  width: 10px;
  position: absolute;
  right: 10px;
}
.bl_stacks_slide_item_desc > ul {
  font-size: 1.6rem;
  list-style-type: disc;
  padding-inline-start: 20px;
  line-height: 2.4rem;
}

/* bl_about */
.bl_about_inner {
  display: flex;
  gap: 100px;
}
.bl_about_img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 350px;
}
.bl_about_desc {
  max-width: 600px;
  font-size: 1.6rem;
  line-height: 22px;
}
.bl_about_desc > h3 {
  font-size: 4.8rem;
  line-height: initial;
}
.bl_about_desc_btns {
  display: flex;
  gap: 25px;
}

/* bl_contact */
.bl_contact_inner {
  display: flex;
  gap: 100px;
  align-items: center;
  flex-wrap: wrap;
}
.bl_contact_desc {
  font-size: 1.6rem;
  max-width: 380px;
  width: 100%;
}
.bl_contact_desc > h3 {
  font-size: 4.8rem;
  margin-top: 30px;
  margin-bottom: 50px;
}
.bl_contact_img {
  width: 300px;
}
.bl_contact_table {
  line-height: 55px;
}
.bl_contact_table_row {
  display: flex;
  gap: 20px;
}
.bl_contact_table_row > *:first-child {
  flex-basis: 80px;
}

/* bl_footer */
.bl_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  background-color: #b2e5fc;
  font-size: 1.6rem;
}
.bl_footer_desc {
  text-align: center;
  line-height: 24px;
}

/* @@@ helper group @@@ */
.hp_mtb_50 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.hp_mtb_82 {
  margin-top: 82.5px;
  margin-bottom: 82.5px;
}
.hp_mb_25 {
  margin-bottom: 25px;
}
.hp_mb_30 {
  margin-bottom: 30px;
}
.hp_mb_35 {
  margin-bottom: 35px;
}
.hp_mb_50 {
  margin-bottom: 50px;
}

/* @@@ unique group @@@ */
.un_projects_toggle {
  display: none;
}
.un_projects_toggle + label {
  display: inline-block;
  width: 50px;
  height: 17px;
  background-color: #fff;
  box-shadow: inset 0 3px 6px 1px #0003;
  border-radius: 9px;
  cursor: pointer;
}
.un_projects_toggle + label::before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  transform: translate(2.5px, 2.5px);
  background: linear-gradient(to right, var(--primary-color), #3a3377);
  /* border: 3px solid white; */
  border-radius: 12px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.un_projects_toggle:checked + label::before {
  transform: translate(35px, 2.5px);
}

@media (max-width: 768px) {
  /* layout */
  .ly_main {
    padding: 0 40px;
  }

  /* element */
  .el_hLine {
    margin-left: auto;
    margin-right: auto;
  }

  /* block */

  /* bl_banner */
  .bl_banner_ttl {
    font-size: 3.6rem;
    line-height: 4.8rem;
  }
  .bl_banner::before {
    height: 650px;
  }

  /* bl_about */
  .bl_about_inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .bl_about_img {
    margin: 0 auto;
  }
  .bl_about_desc {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bl_about_desc > h3 {
    font-size: 3.6rem;
  }
  .bl_about_desc_btns {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  /* bl_contact */
  .bl_contact_inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .bl_contact_desc {
    /* max-width: unset; */
    font-size: 1.4rem;
  }
  .bl_contact_table_row > *:first-child {
    flex-basis: 60px;
  }
  .bl_contact_img {
    margin: 0 auto;
  }
  .bl_contact_desc > h3 {
    font-size: 3.6rem;
  }

  /* helper */
  .hp_mtb_82 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
